@import url("./normalize.css");

.c {
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.game-c {
    max-width: fit-content;
    display: flex;
    flex-direction: column;
}

.game-row {
    display: flex;
    margin: .5rem 0px;
}

.input {
    margin: 0px .5rem 0px .5rem;
    width: 3.5rem;
    height: 3.6rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.input p {
    height: 100%;
    font-size: 3rem;
    text-align: center;
    width: fit-content;
    margin: auto;
}